{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>This is where information would go.</h2>

    <div>
      <!--
        #Left side name holder
      -->
      {{latest.firstname}}

    </div>

    <div>
      <!--
        #Left side image holder
      -->
    </div>
    <div>
      <!--
        #Right side info holder
      -->
      {{latest.firstname}} {{latest.lastname}} {{latest.age}} {{latest.s_pulse}} {{latest.e_pulse}}
    </div>

    </div>
  </main>
{% endblock %}
